@page {
    size:8.5in 11in;
    margin-top: 1.25cm;
    margin-left: 0.75cm;
    margin-right: 0cm;
    margin-bottom: 1.25cm;;
}

*:not(i) {
    font-family: 'Roboto' !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    margin: 0;
}

h6 {
    font-size: 8pt;
}

p {
    font-size: 8pt;
}

.contact {
    font-size: 10pt;
}
